/* Footer */
.footer{
    position: absolute;
    width: 1920px;
    height: 450px;
    left: -1px;
    top: 3461px;
    
}



/* Group 88 1 */
.divFooter1{
    position: absolute;
    width: 1770px;
    height: 359px;
    left: 75px;
    top: 71px;
    
}

.divFooter2{
    position: absolute;
    left: 2.21%;
    right: 4.89%;
    top: 6.69%;
    bottom: 5.01%;
    
}

/* Group 47 */

.divFooter3{
    position: absolute;
left: 2.21%;
right: 83.94%;
top: 6.69%;
bottom: 85.45%;

}


/*

/*Group 31*/ 

position: absolute;
left: 4.46%;
right: 85.85%;
top: 6.69%;
bottom: 86.54%;

position: absolute;
left: 2.21%;
right: 83.94%;
top: 6.69%;
bottom: 85.45%;


/* Path 190 */

position: absolute;
left: 4.46%;
right: 94.15%;
top: 8.66%;
bottom: 86.58%;

background: #FFFFFF;


/* Path 191 */

position: absolute;
left: 6.1%;
right: 92.91%;
top: 8.67%;
bottom: 86.55%;

background: #FFFFFF;


/* Path 192 */

position: absolute;
left: 7.31%;
right: 91.69%;
top: 8.67%;
bottom: 86.55%;

background: #FFFFFF;


/* Path 193 */

position: absolute;
left: 8.58%;
right: 90.5%;
top: 8.66%;
bottom: 86.58%;

background: #FFFFFF;


/* Path 194 */

position: absolute;
left: 9.81%;
right: 89.2%;
top: 6.69%;
bottom: 86.54%;

background: #FFFFFF;


/* Path 195 */

position: absolute;
left: 11.02%;
right: 87.99%;
top: 8.65%;
bottom: 86.55%;

background: #FFFFFF;


/* Path 196 */

position: absolute;
left: 12.22%;
right: 86.97%;
top: 8.67%;
bottom: 86.55%;

background: #FFFFFF;


/* Path 197 */

position: absolute;
left: 13.21%;
right: 85.85%;
top: 8.67%;
bottom: 86.55%;

background: #FFFFFF;


/* Path 198 */

position: absolute;
left: 2.21%;
right: 96.23%;
top: 7.09%;
bottom: 85.45%;

background: linear-gradient(90deg, #26FF87 721.9%, #00BDA8 821.9%);


/* Group 32 */

position: absolute;
left: 14.37%;
right: 83.94%;
top: 8.64%;
bottom: 88.6%;



/* Path 199 */

position: absolute;
left: 14.37%;
right: 85.25%;
top: 8.64%;
bottom: 89.24%;

background: linear-gradient(90deg, #26FF87 28.3%, #00BDA8 418.6%);


/* Path 200 */

position: absolute;
left: 14.8%;
right: 85.08%;
top: 8.64%;
bottom: 89.24%;

background: linear-gradient(90deg, #26FF87 -257%, #00BDA8 933.8%);


/* Path 201 */

position: absolute;
left: 14.98%;
right: 84.71%;
top: 9.26%;
bottom: 88.6%;

background: linear-gradient(90deg, #26FF87 -160.7%, #00BDA8 314.7%);


/* Path 202 */

position: absolute;
left: 15.38%;
right: 84.33%;
top: 8.64%;
bottom: 89.23%;

background: linear-gradient(90deg, #26FF87 -309.6%, #00BDA8 201%);


/* Path 203 */

position: absolute;
left: 15.75%;
right: 83.94%;
top: 9.26%;
bottom: 89.23%;

background: linear-gradient(90deg, #26FF87 -407.1%, #00BDA8 68.2%);


/* Frame 87 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 37px;

position: absolute;
height: 30.01px;
left: 2.22%;
right: 74.64%;
top: calc(50% - 30.01px/2 + 92.5px);



/* Group 21 */

width: 30.04px;
height: 29.13px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Path 176 */

position: absolute;
left: 0%;
right: 92.66%;
top: 1.46%;
bottom: 1.46%;

background: #FFFFFF;


/* Group 22 */

width: 26.9px;
height: 26.11px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Path 181 */

position: absolute;
left: 20.9%;
right: 78.17%;
top: 21.11%;
bottom: 66.57%;

background: #FFFFFF;


/* Path 182 */

position: absolute;
left: 17.94%;
right: 78.63%;
top: 27.27%;
bottom: 27.26%;

background: #FFFFFF;


/* Path 183 */

position: absolute;
left: 16.37%;
right: 77.06%;
top: 6.49%;
bottom: 6.49%;

background: #FFFFFF;


/* Group 23 */

width: 28.71px;
height: 20.27px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Path 184 */

position: absolute;
left: 31.97%;
right: 61.02%;
top: 16.22%;
bottom: 16.22%;

background: #2EFE87;


/* Group 24 */

width: 24.94px;
height: 19.59px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Path 188 */

position: absolute;
left: 48.01%;
right: 45.9%;
top: 17.36%;
bottom: 17.36%;

background: #FFFFFF;


/* Group 25 */

width: 21.69px;
height: 21.17px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Path 185 */

position: absolute;
left: 63.13%;
right: 35.64%;
top: 14.72%;
bottom: 14.74%;

background: #FFFFFF;


/* Path 186 */

position: absolute;
left: 65%;
right: 31.57%;
top: 36.2%;
bottom: 14.72%;

background: #FFFFFF;


/* Group 26 */

width: 26.5px;
height: 30.01px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Path 187 */

position: absolute;
left: 77.46%;
right: 16.07%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Rectangle 24 */

position: absolute;
left: 80.56%;
right: 18.9%;
top: 19.64%;
bottom: 58.93%;

background: #FFFFFF;


/* Rectangle 25 */

position: absolute;
left: 82.05%;
right: 17.41%;
top: 19.64%;
bottom: 58.93%;

background: #FFFFFF;


/* Group 27 */

width: 28.81px;
height: 20.36px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Path 189 */

position: absolute;
left: 92.97%;
right: 0%;
top: 16.08%;
bottom: 16.08%;

background: #FFFFFF;


/* Need Help?
Trader Joe will never send email or messages to you. You may contact our support via our official Discord help desk.

Our community is building a comprehensive
decentralized trading platform for the future
of finance. Join us! */

position: absolute;
left: 2.21%;
right: 65.95%;
top: 25.63%;
bottom: 36.49%;



/* Need Help? */

position: absolute;
left: 2.21%;
right: 92.26%;
top: 25.63%;
bottom: 70.19%;

font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 15px;

color: #41499A;



/* MoonBase Alpha will never send email or messages to you. You may contact our support via our official Discord help desk. */

position: absolute;
left: 2.21%;
right: 65.95%;
top: 33.7%;
bottom: 52.92%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 148.5%;
/* or 24px */

color: #FFFFFF;



/* Our community is building a comprehensive decentralized trading platform for the future of finance. Join us! */

position: absolute;
left: 2.21%;
right: 65.95%;
top: 50.14%;
bottom: 36.49%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 148.5%;
/* or 24px */

color: #FFFFFF;



/* MoonBase Token
Coingecko
CoinMarketCap

Analytics
TokenTerminal
Defi Llama
Gecko Terminal
Legacy Dashboard */

position: absolute;
left: 57.39%;
right: 34.3%;
top: 25.07%;
bottom: 11.98%;



/* Group 207 */

position: absolute;
width: 147px;
height: 93px;
left: 1015.84px;
top: 90px;



/* MoonBase Token */

position: absolute;
left: 57.39%;
right: 34.3%;
top: 25.07%;
bottom: 69.64%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #41499A;



/* Coingecko */

position: absolute;
left: 57.39%;
right: 37.72%;
top: 35.38%;
bottom: 59.33%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* CoinMarketCap */

position: absolute;
left: 57.39%;
right: 35.51%;
top: 45.68%;
bottom: 49.03%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Frame 259 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 124.66px;
height: 112px;
left: 1015.84px;
top: 204px;



/* Analytics */

width: 86px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #41499A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* TokenTerminal */

width: 116.42px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Defi Llama */

width: 86.54px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Gecko Terminal */

width: 124.66px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* MoonBase Token
User Manual
Security
Developers
Privacy
Terms of Service */

position: absolute;
left: 42.37%;
right: 50%;
top: 25.07%;
bottom: 26.46%;



/* USEFUL LINKS */

position: absolute;
left: 42.37%;
right: 51.41%;
top: 25.07%;
bottom: 69.64%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #41499A;



/* User Manual */

position: absolute;
left: 42.37%;
right: 51.98%;
top: 33.7%;
bottom: 61%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Security */

position: absolute;
left: 42.37%;
right: 53.84%;
top: 42.34%;
bottom: 52.37%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Developers */

position: absolute;
left: 42.37%;
right: 52.44%;
top: 50.97%;
bottom: 43.73%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Privacy */

position: absolute;
left: 42.37%;
right: 54.25%;
top: 59.61%;
bottom: 35.1%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Terms of Service */

position: absolute;
left: 42.37%;
right: 50%;
top: 68.25%;
bottom: 26.46%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Exchanges
Binance
FTX
Crypto.com
Gate.io
MEXC
OKX */

position: absolute;
left: 72.93%;
right: 20.4%;
top: 25.07%;
bottom: 32.31%;



/* Exchanges */

position: absolute;
left: 72.93%;
right: 21.7%;
top: 25.07%;
bottom: 69.64%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #41499A;



/* Uniswap V3 */

position: absolute;
left: 72.93%;
right: 22.04%;
top: 33.7%;
bottom: 61%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Frame 268 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 118px;
height: 81px;
left: 1290.93px;
top: 162px;



/* PRODUCTS */

width: 85px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #41499A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Liquidity Locker */

width: 118px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vesting */

width: 56px;
height: 19px;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Business
Apply for Partnership
Token Listing
NFT Listing
Contact Us */

position: absolute;
left: 85.22%;
right: 4.89%;
top: 25.35%;
bottom: 34.82%;



/* Business */

position: absolute;
left: 85.22%;
right: 10.49%;
top: 25.35%;
bottom: 69.36%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #41499A;



/* Apply for Partnership */

position: absolute;
left: 85.22%;
right: 4.89%;
top: 33.98%;
bottom: 60.72%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Token Listing */

position: absolute;
left: 85.22%;
right: 8.73%;
top: 42.62%;
bottom: 52.09%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* NFT Listing */

position: absolute;
left: 85.22%;
right: 9.49%;
top: 51.25%;
bottom: 43.45%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Contact Us */

position: absolute;
left: 85.22%;
right: 9.66%;
top: 59.89%;
bottom: 34.82%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* All rights reserved. */

position: absolute;
left: 2.21%;
right: 89.99%;
top: 91.09%;
bottom: 5.01%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;



/* Group 208 */

position: absolute;
width: 386px;
height: 40px;
left: 1343px;
top: 15px;



/* Rectangle 223 */

position: absolute;
width: 148px;
height: 40px;
left: 1581px;
top: 15px;

/* Green Main */
background: #2DFE87;
border-radius: 35px;


/* Subscribe */

position: absolute;
left: 91.3%;
right: 4.35%;
top: 7.52%;
bottom: 88.02%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;

color: #000000;



/* Group 84 */

position: absolute;
left: 76.95%;
right: 13.22%;
top: 6.69%;
bottom: 88.02%;



/* Connect Wallet */

position: absolute;
left: 76.95%;
right: 13.22%;
top: 6.69%;
bottom: 88.02%;

font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #717171;



/* Rectangle 222 */

box-sizing: border-box;

position: absolute;
width: 386px;
height: 40px;
left: 1343px;
top: 15px;

/* Green Main */
border: 1px solid #2DFE87;
border-radius: 30px;
